/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Ubuntu Tilting';
    src: url(assets/fonts/UbuntuTitling-Bold.ttf);
}

$primary-app-color: #2172ED;
$primary-hover-app-color: #1854ad;
$secondary-app-color: #FFFFFF;
$app-font-family: 'Ubuntu Tilting';
html * {
    font-family: $app-font-family;
}

$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 10px 0 0;
  margin-top: 0px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 0.9rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 0.9rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.7rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.7rem;
    color: $primary-app-color;
    font-weight:500;    
  }
  padding-bottom: 6px;  
  font-weight: 500;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary-app-color,$secondary-app-color);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

