/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Ubuntu Tilting';
    src: url(assets/fonts/UbuntuTitling-Bold.ttf);
}

$primary-app-color: #2172ED;
$primary-hover-app-color: #1854ad;
$secondary-app-color: #FFFFFF;
$app-font-family: 'Ubuntu Tilting';
html * {
    font-family: $app-font-family;
}